{% extends "main/tiled_content.html" %}

{% block tile_content %}
  <span class="card-title">Connectez-vous</span>
  <form method="POST">
    {% csrf_token %}
    <div class="input-field">
     {{ authentication_form.username}}
      <label>Nom d'utilisateur</label>
    </div>
    <div class="input-field">
      {{ authentication_form.password}}
      <label>Mot de passe</label>
    </div>
    <div class="right">
      <button class="btn" type="submit"> Se connecter </button>
    </div>
    <br>
  </form>
{% endblock %}