<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>LITReview</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% block navbar %}
                {% include 'main/navbar.html' %}
            {% endblock %}
            </ul>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
        <script>M.toast({html: '{{message}}', displayLength:2000, classes: "rounded"})</script>
        {% endfor %}
    {% endif %}

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>