{% extends "main/tiled_content.html" %}

{% block tile_content %}
<h5 class="center"> Créer une critique </h5>
<br>
<div class="left-align">
  <div class="input-field">
    {{review_form.headline}}
    <label>Titre</label>
  </div>
</div>
<div class="input-field">
  <p>Note</p>
  <div class="rating-radio-btn">
    {% for rating in '012345'|make_list %}
    <label>
      <input type="radio" name="rating" value={{rating}} checked>
      <span>{{rating}}</span>
    </label>
    {% endfor %}
  </div>
</div>
  <div class="input-field">
    {{review_form.body}}
    <label>Description</label>
  </div>
<button class="btn right" type="submit"> Envoyer </button>
<br><br>
{% endblock %}