{% extends "main/home.html" %}

{% block navbar %}
  {% include 'feed/navbar.html' %}
{% endblock %}

{% block content %}
  {% if ticket%}
    {% include 'feed/ticket_snippet.html' %}
  {% endif %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  {% if ticket_form %}
    {% include 'feed/forms_display/ticket_creation_form.html' %}
  {% endif %}
  {% if review_form %}
    {% include 'feed/forms_display/review_creation_form.html' %}
  {% endif %}
  </form>
{% endblock %}