{% extends "main/home.html" %}

{% block navbar %}
      {% include 'feed/navbar.html' %}
{% endblock %}

{% block content %}
  <div  class="col s12 m6 center">
    <button style="border-radius: 50px;" class=" btn-large"><a class="white-text" href="/new_ticket">Demander une critique</a></button>
  </div>
  <div class="col s12 m6 center">
    <button style="border-radius: 50px;" class=" btn-large"><a class="white-text" href="/new_review">Créer une critique</a></button>
  </div>
  <div class="col s12 ">
    {% for post in posts %}
      {% if post.content_type == 'TICKET' %}
        {% include 'feed/ticket_snippet.html' with ticket=post %}
      {% elif post.content_type == 'REVIEW' %}
        {% include 'feed/review_snippet.html' with review=post %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
