{% extends "main/tiled_content.html" %}

{% block tile_content %}
  {% if ticket.user == request.user %}
    <p>Vous avez demandé une critique</p>
  {% else %}
    <p>{{ticket.user}} a demandé une critique</p>
  {% endif %}
  <div class="right"><small>{{ticket.time_created|date:'H:i, d M Y' }}</small></div>
  <h5>{{ticket.title}}</h5>
  <p>{{ticket.description}}</p>
  {% if ticket.image %}
  <img src="{{ticket.image.url}}" alt="{{ticket.title}} attached image"/>
  {% endif %}
  {% if not review_form and not ticket.answered and not review.answered %}
  <div>
    <button class="btn right" onclick='window.location.href="/new_review/{{ticket.pk}}";'> Créer une critique  </button>
    <br>
  </div>
{% endif %}
  {% if edit and not review %}
  <div>
    <button class="btn right" onclick="window.location.href='/del_ticket/{{ticket.pk}}';"> Supprimer </button>
    <button class="btn right" onclick="window.location.href='/edit_ticket/{{ticket.pk}}';"> Modifier </button>
    <br>
  </div>
{% endif %}
{% endblock %}
